<%- include('partials/header') %>

<h1>Search cards</h1>

<h3>By element</h3>
<form action="/search/element" method="get">
  <select name="element" id="element">
      <option value="null">None</option>
    <option value="tonnerre">Lightning</option>
    <option value="terre">Earth</option>
    <option value="glace">Ice</option>
    <option value="vent">Wind</option>
    <option value="poison">Poison</option>
    <option value="feu">Fire</option>
    <option value="eau">Water</option>
    <option value="sacré">Holy</option>
  </select>
  <input type="submit" value="Search">
</form>

<hr>

<h3>By level</h3>
<form action="/search/level" method="get">
  <label for="level">Level</label>
  <input type="number" name="level" id="level" min=0 max=10 value=0>

  <input type="submit" value="Search">
</form>

<hr>

<h3>By value</h3>
<form action="/search/values" method="get">
  <label for="direction">Direction</label>
  <select name="direction" id="direction">
    <option value="north">North</option>
    <option value="east">East</option>
    <option value="south">South</option>
    <option value="west">West</option>
  </select>
  
  <label for="value">Value</label>
  <input type="number" name="value" id="value" min=0 max=10 value=0>

  <input type="submit" value="Search">
</form>

<hr>

<h3>By name</h3>
<form action="/search/name" method="get">
  <input type="text" name="name" id="name">
  <input type="submit" value="Search">
</form>

<%- include('partials/footer') %>